doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title NEW DOTA2

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='main.css')
    // endbuild
    // link(rel='stylesheet', type='text/css/, href='bower_components/bespoke.js/demo.js/themes.css')

  body

    article

      section(data-bespoke-state='emphatic')
        h1  Bogem Shoot Coorporation
        pre
          code.language-javascript.
            Akhmad Zico Fadlansyah    
            Ari Wibowo
            Sys Bran Malisi 

      section(data-bespoke-state='emphatic')
        h2 Perkenalan DOTA 2
        Display_W
            P Dota 2 merupakan salah satu game strategi yang menantang bagi siapa saja yang memainkanya. Mame ini juga menyediakan banyak fiture seperti battle pvp atau Vs  battle bot. Dan pastinya akan lebih menangntang dari versi sebelumnya.
        hr
        hr
        hr

      section(data-bespoke-state='emphatic')
        h1 Valve Corporation (zico)

      section(data-bespoke-state='emphatic')
        h2 Bedanya dengan DOTA 1 ?
        Display_W
            li Hero Skin
            li New Market System
            li New Batle System
            li New Curier System

      section(data-bespoke-state='emphatic')
        h1 Hero Status
        Display_B
            Display_Hero
            Display_Hero
            Display_Hero
            tempat_judul
                judulhero Agility
            tempat_judul
                judulhero Strength
            tempat_judul
                judulhero Inteligent
          
      section(data-bespoke-state='emphatic')
        h2 Hero Agility
        Display_W
            p Hero Agility merupan ......
        
      section(data-bespoke-state='emphatic')
        h1 Contoh Hero Agility 
        Display_B
            Display_Hero 
            Display_Hero
            Display_Hero
            tempat_judul
                judulhero Nama Hero 1 
            tempat_judul
                judulhero Nama Hero 2
            tempat_judul
                judulhero Nama Hero 3
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 1 
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 1
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
               
        
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 2
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
        
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 3
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
        
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
       
      section(data-bespoke-state='emphatic')
        h2 Hero Strength
        Display_W
            p Hero strength merupakan status yang bagus digunakan sebagai hero tank ( mayoritas ). Dan status strength berguna untuk menambah jumlah maksimum Hp dan regenerasi Hp.
        
      section(data-bespoke-state='emphatic')
        h1 Contoh Hero Strength 
        Display_B
            Display_Hero
            Display_Hero
            Display_Hero
            tempat_judul
                judulhero Nama Hero 1
            tempat_judul
                judulhero Nama Hero 2
            tempat_judul
                judulhero Nama Hero 3
        
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 1
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 1
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                        
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 2
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
      ssection(data-bespoke-state='emphatic')
        h2 Nama Hero 3
      ssection
        h2 Tusk
        Display_A
            Display_Aa
                Display_X1
                    img(width='189px' height='120px' src='Strength/str_2.jpg')
                    img(width='189px' height='80px' src='Strength/stat_2.jpg')
                    nama Male  - Pusher - Durable - Jungler - Assassin
                Display_X2
                    item
                        img(width='48px' height='48px' src='Strength/skill_1_2.jpg')
                    skill Ice Shards
                        hr 
                        penjelasan Tusk compresses shards of ice into a ball of frozen energy that damages all enemies it comes in contact with. 

                    item
                        img(width='48px' height='48px' src='Strength/skill_2_2.jpg')
                    skill Snowball
                        hr
                        penjelasan Tusk begins rolling into a snowball, automatically gathering allied Heroes within a 100 radius.
                    item
                        img(width='48px' height='48px' src='Strength/skill_3_2.jpg')
                    skill Frozen Sigil
                        hr
                        penjelasan Tusk summons a Frozen Sigil by calling upon the deepest cold of winter. The Sigil creates a snowstorm which slows all enemy units within 600 range.
                    item
                        img(width='48px' height='48px' src='Strength/utility_2.jpg')
                    skill Walrus PUNCH!
                        hr
                        penjelasan Tusk prepares his mighty Walrus Punch; his next attack will do a critical strike and launch the victim into the air. The victim will be slowed upon landing and take damage.
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 3
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h2 Hero Inteligent 
        Display_W
            p Hero Agility merupan ......
        
      ssection(data-bespoke-state='emphatic')
        h1 Inteligent 
        Display_B
            Display_Hero
                img(width='162px' height='236px' src='Inteligent/int_1.jpg')
            Display_Hero
                img(width='162px' height='236px' src='Inteligent/int_2.jpg')
            Display_Hero
                img(width='162px' height='236px' src='Inteligent/int_3.jpg')
            tempat_judul
                judulhero NECROPHOS
            tempat_judul
                judulhero LION
            tempat_judul
                judulhero ENCHANTRESS
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 1
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 1
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 2
        Display_A
            Display_Aa
                Display_X
                
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul(data-bespoke-state='emphatic')
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h2 ENCHANTRESS
        Display_A
            Display_Aa
                Display_X1
                    img(width='189px' height='120px' src='Inteligent/int_3_1.png')
                    img(width='189px' height='80px' src='Inteligent/int_3_2.jpg')
                    nama Ranged - Support - Pusher - Durable - Jungler
                Display_X2
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil1.png')
                    skill Untouchable
                        hr
                        penjelasan Enchantress beguiles her enemies, slowing their attacks when she is attacked. Lasts 4 seconds.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil2.png')
                    skill Enchant
                        hr
                        penjelasan Enchantress charms an enemy, bringing it under her control (if a creep) or slowing it (if a hero).
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil3.png')
                    skill Nature's Attendants
                        hr
                        penjelasan A cloud of wisps heals Enchantress and any friendly units nearby. Lasts 10 seconds.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil4.png')
                    skill Impetus
                        hr
                        penjelasan Places an enchantment on each attack while activated.
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 3
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)


      section(data-bespoke-state='emphatic')
      

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild