doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title NEW DOTA2

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='main.css')
    // endbuild
    // link(rel='stylesheet', type='text/css/, href='bower_components/bespoke.js/demo.js/themes.css')

  body

    article

      section(data-bespoke-state='emphatic')
        h1  Bogem Shoot Coorporation
        pre
          code.language-javascript.
            Akhmad Zico Fadlansyah    
            Ari Wibowo
            Sys Bran Malisi 

      section
        h2 Perkenalan DOTA 2
        Display_W
            P Dota 2 merupakan salah satu game strategi yang menantang bagi siapa saja yang memainkanya. Mame ini juga menyediakan banyak fiture seperti battle pvp atau Vs  battle bot. Dan pastinya akan lebih menangntang dari versi sebelumnya.
        hr
        hr
        hr

      section(data-bespoke-state='emphatic')
        h1 Valve Corporation (zico)

      section
        h2 Bedanya dengan DOTA 1 ?
        Display_W
            li Hero Skin
            li New Market System
            li New Batle System
            li New Curier System

      section(data-bespoke-state='emphatic')
        h1 Hero Status
        Display_B
          li Agility
          li Strength
          li Inteligent
          
      section
        h2 Hero Agility
        Display_W
            p Hero Agility merupan ......
        
      section(data-bespoke-state='emphatic')
        h1 Contoh Hero Agility 
        Display_B
            li (hero 1)
            li (hero 2)
            li (hero 3)
            
      section
        h2 (Hero 1)  (Skills) 
        Display_I
            item
            items
                penjelasan (Name)
            item    
            items  
                penjelasan (Name)
            item    
            items  
                penjelasan (Name)
            item    
            items  
                penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h1 (hero 1) (Items) 
        hr
        Display_A
            judul Starter Item
            judul Mid Game
            Display_X
                item
                items
                    penjelasan (Name)
                item
                items
                    penjelasan (Name)
                item
                items
                    penjelasan (Name)
                item
                items
                    penjelasan (Name)
            Display_X
                item
                items
                    penjelasan (Name)
                item
                items
                    penjelasan (Name)
                item
                items
                    penjelasan (Name)
                item
                items
                    penjelasan (Name)
            
      section
        h2 (Hero 2)  (Skills) 
        Display_W
            li ?
            li ?
            li ?
            li ?
        
      section(data-bespoke-state='emphatic')
        h1 (hero 2) (Items)  
        h3 Starter Items
        hr
        Display_B
            li ?
            li ?
            li ?
        hr
        h3 Mid Game 
        hr
        Display_B
            li ?
            li ?
            li ?
            
      section
        h2 (Hero 3)  (Skills) 
        Display_W
            li ?
            li ?
            li ?
            li ?
        
      section(data-bespoke-state='emphatic')
        h1 (hero 3) (Items) 
        h3 Starter Items
        hr
        Display_B
            li ?
            li ?
            li ?
        hr
        h3 Mid Game 
        hr
        Display_B
            li ?
            li ?
            li ?
       
      section
        h2 Hero Strength
        Display_W
            p Hero strength merupakan status yang bagus digunakan sebagai hero tank ( mayoritas ). Dan status strength berguna untuk menambah jumlah maksimum Hp dan regenerasi Hp.
        
      section(data-bespoke-state='emphatic')
        h1 Contoh hero Strength 
        Display_B
            li The Butcher
            li The Phoenix
            li (hero 3)
        
      section
        h2 Pudge - The Butcher (Skills) 
        Display_W
            li Meat hook
            li Root
            li Flesh heap
            li Dismember ( Utility )
        
      section(data-bespoke-state='emphatic')
        h1 Pudge - The Butcher (Items)  
        h3 Starter Items
        hr
        Display_B
            li Empty bottle
            li Boot of Speed
            li Bracer
        hr
        h3 Mid Game 
        hr
        Display_B
            li Phase boots
            li Hood of Deviance
            li Disarankan memilih item yang health regen yang tinggi
                        
      section
        h2 Icarus – The Phoenix (Skills) 
        Display_W
            li Icarus Dive
            li Fire Spirits
            li Sun Ray
            li Supernova ( Utility )
      
      section(data-bespoke-state='emphatic')
        h1 Icarus – The Phoenix (Items) 
        h3 Starter Items
        hr
        Display_B
            li Empty bottle
            li Boot of Speed
            li Magic Wand
        hr
        h3 Mid Game 
        hr
        Display_B
            li Arcane Boots
            li Bloodstone
            li Orchid Malevolence
            li Disarankan memilih item yang health regen yang tinggi
                        
      section
        h2 Hero Strength 3 (Skills) 
        Display_W
            li ?
            li ?
            li ?
            li ?
      
      section(data-bespoke-state='emphatic')
        h1 Hero Strength 3(Items)
        h3 Starter Items
        hr
        Display_B
            li ?
            li ?
            li ?
        hr
        h3 Mid Game 
        hr
        Display_B
            li ?
            li ?
            li ?
            li ?
            
      section
        h2 Hero Inteligent 
        Display_W
            p Hero Agility merupan ......
        
      section(data-bespoke-state='emphatic')
        h1 Contoh Hero Inteligent  
        Display_B
            li (hero 1)
            li (hero 2)
            li (hero 3)
            
      section
        h2 (Hero 1)  (Skills) 
        Display_W
            li ?
            li ?
            li ?
            li ?
        
      section(data-bespoke-state='emphatic')
        h1 (hero 1) (Items)  
        h3 Starter Items
        hr
        Display_B
            li ?
            li ?
            li ?
        hr
        h3 Mid Game 
        hr
        Display_B
            li ?
            li ?
            li ?
            
      section
        h2 (Hero 2)  (Skills)  
        Display_W
            li ?
            li ?
            li ?
            li ?
        
      section(data-bespoke-state='emphatic')
        h1 (hero 1) (Items)  
        h3 Starter Items
        hr
        Display_B
            li ?
            li ?
            li ?
        hr
        h3 Mid Game 
        hr
        Display_B
            li ?
            li ?
            li ?
            
      section
        h2 (Hero 1)  (Skills)  
        Display_W
            li ?
            li ?
            li ?
            li ?
        
      section(data-bespoke-state='emphatic')
        h1 (hero 1) (Items)  
        h3 Starter Items
        hr
        Display_B
            li ?
            li ?
            li ?
        hr
        h3 Mid Game 
        hr
        Display_B
            li ?
            li ?
            li ?


      section(data-bespoke-state='emphatic')
      

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild