doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title NEW DOTA2

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='main.css')
    // endbuild
    // link(rel='stylesheet', type='text/css/, href='bower_components/bespoke.js/demo.js/themes.css')

  body

    article

      section(data-bespoke-state='emphatic')
        h1  Bogem Shoot Coorporation
        pre
          code.language-javascript.
            Akhmad Zico Fadlansyah    
            Ari Wibowo
            Sys Bran Malisi 

      section(data-bespoke-state='emphatic')
        h2 Perkenalan DOTA 2
        Display_W
            P Dota 2 merupakan salah satu game strategi yang menantang bagi siapa saja yang memainkanya. Mame ini juga menyediakan banyak fiture seperti battle pvp atau Vs  battle bot. Dan pastinya akan lebih menangntang dari versi sebelumnya.
        hr
        hr
        hr

      section(data-bespoke-state='emphatic')
        h1 Valve Corporation (zico)

      section(data-bespoke-state='emphatic')
        h2 Bedanya dengan DOTA 1 ?
        Display_W
            li Hero Skin
            li New Market System
            li New Batle System
            li New Curier System

      section(data-bespoke-state='emphatic')
        h1 Hero Status
        Display_B
            Display_Ba
                Display_Hero
                    
                Display_Hero
                
                Display_Hero
                
                tempat_judul
                
                tempat_judul
                
                tempat_judul
          
      section(data-bespoke-state='emphatic')
        h2 Hero Agility
        Display_W
            p Hero Agility merupan ......
        
      section(data-bespoke-state='emphatic')
        h1 Agility 
        Display_B
            Display_Ba
                Display_Hero
                
                Display_Hero
                
                Display_Hero
                
                tempat_judul
                
                tempat_judul
                
                tempat_judul
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 1 
        Display_A
            Display_Aa
                Display_X1
                
                Display_X2
                    item
                    skill
                        hr
                        
                    item
                    skill
                        hr
                    
                    item
                    skill 
                        hr
                        
                    item
                    skill 
                        hr
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 1
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
               
        
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 2
        Display_A
            Display_Aa
                Display_X1
                
                Display_X2
                    item
                    skill
                        hr
                        
                    item
                    skill
                        hr
                    
                    item
                    skill 
                        hr
                        
                    item
                    skill 
                        hr
        
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h2 Nama Hero 3
        Display_A
            Display_Aa
                Display_X1
                
                Display_X2
                    item
                    skill
                        hr
                        
                    item
                    skill
                        hr
                    
                    item
                    skill 
                        hr
                        
                    item
                    skill 
                        hr
        
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
       
      section(data-bespoke-state='emphatic')
        h2 Hero Strength
        Display_W
            p Hero strength merupakan status yang bagus digunakan sebagai hero tank ( mayoritas ). Dan status strength berguna untuk menambah jumlah maksimum Hp dan regenerasi Hp.
        
      section(data-bespoke-state='emphatic')
        h1 Strength 
        Display_B
            Display_Ba
                Display_Hero
                    img(width='162px' height='236px' src='Strength/str_1.jpg')
                Display_Hero
                    img(width='162px' height='236px' src='Strength/str_2.jpg')
                Display_Hero
                    img(width='162px' height='236px' src='Strength/str_3.jpg')
                tempat_judul
                    judulhero Alchemist
                tempat_judul
                    judulhero Pudge
                tempat_judul
                    judulhero TUSK
        
      section(data-bespoke-state='emphatic')
        h2 Nama Alchemist
        Display_Aa
                Display_X1
                    img(width='187px' height='120px' src='Strength/str_1.1.png')
                    img(width='189px' height='75px' src='Strength/str_1.2.png')
                    nama Melee - Durable - Disabler
                Display_X2
                    item
                        img(width='48px' height='48px' src='Strength/hero1_skil1.png')
                    skill Acid Spray
                        hr 
                        penjelasan Alchemist sprays high-pressure acid across a target area. Enemy units who step across the contaminated terrain take mixed damage per second and have their armor reduced.

                    item
                        img(width='48px' height='48px' src='Strength/hero1_skil2.png')
                    skill Unstable Concoction
                        hr
                        penjelasan Alchemist brews up an unstable concoction that he can throw at an enemy hero, to stun and deal damage in an area around the explosion.
                    item
                        img(width='48px' height='48px' src='Strength/hero1_skil3.png')
                    skill Greevil's Greed
                        hr
                        penjelasan Alchemist gets bonus gold for killing creeps; the bonus stacks if the creeps are killed within a period of time, after which the count is reset. 
                    item
                       img(width='48px' height='48px' src='Strength/hero1_skil4.png')
                    skill Chemical Rage
                        hr
                        penjelasan CHANNELED - Alchemist causes his Ogre to enter a chemically induced rage, reducing base attack cooldown and increasing movement speed and regeneration.
        h1 Nama Hero 1
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                        
      section(data-bespoke-state='emphatic')
        h2 Pudge
        Display_A
            Display_Aa
                Display_X1
                    img(width='187px' height='120px' src='Strength/str_2.1.png')
                    img(width='189px' height='75px' src='Strength/str_2.2.png')
                    nama Melee - Durable - Disabler
                Display_X2
                    item
                        img(width='48px' height='48px' src='Strength/hero2_skil1.png')
                    skill Meat hook
                        hr 
                        penjelasan Pudge launches a bloody hook at a unit or location. The hook will snag the first unit it encounters, dragging the unit back to Pudge and dealing damage if it is an enemy. 

                    item
                        img(width='48px' height='48px' src='Strength/hero2_skil2.png')
                    skill Root
                        hr
                        penjelasan Pudge spread a toxic cloud that deals intense damage and slows movement--harming not only enemy units but Pudge himself.
                    item
                        img(width='48px' height='48px' src='Strength/hero2_skil3.png')
                    skill Flesh heat
                        hr
                        penjelasan Gives Pudge resistance to magic damage, as well as bonus strength that increases each time Pudge kills an enemy Hero or it dies in his vicinity.
                    item
                       img(width='48px' height='48px' src='Strength/hero2_skil4.png')
                    skill Dismember
                        hr
                        penjelasan CHANNELED - Pudge chows down on an enemy unit, disabling it and dealing damage over time. 
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 2
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
      
      ssectionssection(data-bespoke-state='emphatic')
        h2 Tusk
        Display_A
            Display_Aa
                Display_X1
                    img(width='187px' height='120px' src='Strength/str_3_1.png')
                    img(width='189px' height='75px' src='Strength/str_3_2.png')
                    nama Melee  - Pusher - Durable - Jungler - Assassin
                Display_X2
                    item
                        img(width='48px' height='48px' src='Strength/hero3_skil1.png')
                    skill Ice Shards
                        hr 
                        penjelasan Tusk compresses shards of ice into a ball of frozen energy that damages all enemies it comes in contact with. 

                    item
                        img(width='48px' height='48px' src='Strength/hero3_skil2.png')
                    skill Snowball
                        hr
                        penjelasan Tusk begins rolling into a snowball, automatically gathering allied Heroes within a 100 radius.
                    item
                        img(width='48px' height='48px' src='Strength/hero3_skil3.png')
                    skill Frozen Sigil
                        hr
                        penjelasan Tusk summons a Frozen Sigil by calling upon the deepest cold of winter. The Sigil creates a snowstorm which slows all enemy units within 600 range.
                    item
                       img(width='48px' height='48px' src='Strength/hero3_skil4.png')
                    skill Walrus PUNCH!
                        hr
                        penjelasan Tusk prepares his mighty Walrus Punch; his next attack will do a critical strike and launch the victim into the air. The victim will be slowed upon landing and take damage.
            
      section(data-bespoke-state='emphatic')
        h1 Nama Hero 3
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
            
      section(data-bespoke-state='emphatic')
        h2 Hero Inteligent 
        Display_W
            p Hero Agility merupan ......
        
      ssection(data-bespoke-state='emphatic')
        h1 Inteligent 
        Display_B
            Display_Ba
                Display_Hero
                    img(width='162px' height='236px' src='Inteligent/int_1.jpg')
                Display_Hero
                    img(width='162px' height='236px' src='Inteligent/int_2.jpg')
                Display_Hero
                    img(width='162px' height='236px' src='Inteligent/int_3.jpg')
                tempat_judul
                    judulhero NECROPHOS
                tempat_judul
                    judulhero ENCHANTRESS
                tempat_judul
                    judulhero LION
            
            
      section(data-bespoke-state='emphatic')
        h2 NECROPHOS
        Display_A
            Display_Aa
                Display_X1
                    img(width='187px' height='120px' src='Inteligent/int_1_1.png')
                    img(width='187px' height='75px' src='Inteligent/int_1_2.jpg')
                    nama Ranged - Support - Durable - Carry
                Display_X2
                    item
                        img(width='48px' height='48px' src='Inteligent/hero1_skil1.png')
                    skill Death Pulse
                        hr
                        penjelasan Necrophos releases a wave of death around him, dealing damage to enemy units and healing allied units.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero1_skil2.png')
                    skill Heartstopper Aura
                        hr
                        penjelasan Necrophos stills the hearts of his opponents, causing nearby enemy units to lose a percentage of their max health over time.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero1_skil3.png')
                    skill Sadist
                        hr
                        penjelasan Necrophos gains hp and mana regeneration for every unit he kills. Hero kills grant 10x the regen bonus.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero1_skil4.png')
                    skill Reaper's Scythe
                        hr
                        penjelasan Stuns the target enemy hero, then deals damage based on how much life it is missing. Heroes killed by Reaper's Scythe will have 30% more.
            
      section(data-bespoke-state='emphatic')
        h1 NECROPHOS
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
       
      section(data-bespoke-state='emphatic')
        h2 ENCHANTRESS
        Display_A
            Display_Aa
                Display_X1
                    img(width='187px' height='120px' src='Inteligent/int_2_1.png')
                    img(width='187px' height='75px' src='Inteligent/int_2_2.jpg')
                    nama Ranged - Support - Pusher - Durable - Jungler
                Display_X2
                    item
                        img(width='48px' height='48px' src='Inteligent/hero2_skil1.png')
                    skill Untouchable
                        hr
                        penjelasan Enchantress beguiles her enemies, slowing their attacks when she is attacked. Lasts 4 seconds.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero2_skil2.png')
                    skill Enchant
                        hr
                        penjelasan Enchantress charms an enemy, bringing it under her control (if a creep) or slowing it (if a hero).
                    item
                        img(width='48px' height='48px' src='Inteligent/hero2_skil3.png')
                    skill Nature's Attendants
                        hr
                        penjelasan A cloud of wisps heals Enchantress and any friendly units nearby. Lasts 10 seconds.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero2_skil4.png')
                    skill Impetus
                        hr
                        penjelasan Places an enchantment on each attack while activated.
            
      section(data-bespoke-state='emphatic')
        h1 ENCHANTRESS
        hr
        tempat_judul(data-bespoke-state='emphatic')
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                        
      section(data-bespoke-state='emphatic')
        h2 LION
        Display_A
            Display_Aa
                Display_X1
                    img(width='187px' height='120px' src='Inteligent/int_3_1.png')
                    img(width='187px' height='75px' src='Inteligent/int_3_2.jpg')
                    namap Ranged - Disabler - Nuker - Lane Support - Support
                Display_X2
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil1.png')
                    skill Earth Spike
                        hr
                        penjelasan Rock spikes burst from the earth along a straight path. Enemy units are hurled into the air, then are stunned and take damage when they fall.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil2.png')
                    skill Hex
                        hr
                        penjelasan Transforms an enemy unit into a harmless beast, with all special abilities disabled.

                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil3.png')
                    skill Mana Drain
                        hr
                        penjelasan CHANNELED - Absorbs the magical energies of a target enemy unit by taking mana from it every second.
                    item
                        img(width='48px' height='48px' src='Inteligent/hero3_skil4.png')
                    skill Finger of Death
                        hr
                        penjelasan Rips at an enemy unit, trying to turn it inside-out. Deals massive damage. Upgradable with Aghanim's Scepter.
                        
                        
      section(data-bespoke-state='emphatic')
        h1 LION
        hr
        tempat_judul
            judul Starter Item
            judul Mid Game 
        Display_A
            Display_Aa   
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                Display_X
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)
                    item
                    items
                        penjelasan (Name)


      section(data-bespoke-state='emphatic')
      

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild